@font-face {
    font-family: 'sg_noxvilleregular_demo';
    src: url('../tipografia/sgNoxville/sg_noxville_demo_-_regular-webfont.eot');
    src: url('../tipografia/sgNoxville/sg_noxville_demo_-_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tipografia/sgNoxville/sg_noxville_demo_-_regular-webfont.woff2') format('woff2'),
         url('../tipografia/sgNoxville/sg_noxville_demo_-_regular-webfont.woff') format('woff'),
         url('../tipografia/sgNoxville/sg_noxville_demo_-_regular-webfont.ttf') format('truetype'),
         url('../tipografia/sgNoxville/sg_noxville_demo_-_regular-webfont.svg#sg_noxvilleregular_demo') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'shockwaveregular';
    src: url('../tipografia/shockwave/shockwave-webfont.eot');
    src: url('../tipografia/shockwave/shockwave-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tipografia/shockwave/shockwave-webfont.woff2') format('woff2'),
         url('../tipografia/shockwave/shockwave-webfont.woff') format('woff'),
         url('../shockwave-webfont.ttf') format('truetype'),
         url('../tipografia/shockwave/shockwave-webfont.svg#shockwaveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinsregular';
    src: url('../tipografia/poppins-regular-webfont.eot');
    src: url('../tipografia/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipografia/poppins-regular-webfont.woff2') format('woff2'),
         url('../tipografia/poppins-regular-webfont.woff') format('woff'),
         url('../poppins-regular-webfont.ttf') format('truetype'),
         url('../tipografia/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinssemibold';
    src: url('../tipografia/poppins-semibold-webfont.eot');
    src: url('../tipografia/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../tipografia/poppins-semibold-webfont.woff2') format('woff2'),
         url('../tipografia/poppins-semibold-webfont.woff') format('woff'),
         url('../tipografia/poppins-semibold-webfont.ttf') format('truetype'),
         url('../tipografia/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


main, nav, header, footer{display:block;}

body{
    cursor: url(../imagenes/click-03.png),auto;
    background-image: url(../imagenes/fondo-04.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.principal{
    width:1280px;
	margin:auto;
    font-family:'poppinsregular';
    font-size: 15px;
    line-height: 19px;
    color:#ffffff;
}

a:hover{
    text-decoration: underline;
    cursor:url("../imagenes/click-03.png"),auto;}

a:active{text-decoration: underline;
    cursor:url("../imagenes/click-03.png"),auto;}
    

nav{
    background-color:#31bce3;
    text-align:center;
    padding:0;margin:0;
    font-family: 'shockwaveregular';
    color: black;
    font-size: 35px;
    line-height:38px;
    top:0;
}

nav li{
    display:inline-block;
    padding: 20px;
    margin-right: 20px;
}

ul{
    list-style: none;
}
    
nav :visited{
    color: #000000;
}

nav :hover{
    color: #f8ea43;
}

a {
    text-decoration: none;
}

h1{
    font-family:'sg_noxvilleregular_demo' ;
    text-align: center;
    color: #f8ea43;
    text-shadow:-1px -1px 0 black,  
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    font-size: 40px;
}

#entrada p{
    text-align: center;
}

main p:first-of-type {
    color: #31bce3;
    font-family: 'shockwaveregular';
    font-size: 35px;
    text-align: center;
}

form{
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #31bce3;
    margin: auto;
    font-family:'poppinssemibold';
    color: #ffffff;
    border: #f8ea43,2px,solid;
    text-align: center;
}

span{
    display: inline-block;
	width: 200px;
	vertical-align:top;
    text-align: left;
    padding-bottom: 10px;
}

input, text, select{
    outline-color: #31bce3;
    width: 200px;
    outline:none;
    margin-left:40px;
    border:solid 1px rgb(0, 0, 0);
}

#enviar,#borrar{
    width: 140px;
    margin: 20px,5px;}

#albumes span {
    font-size: 10px;
}

#laritafoto,iframe{
    display: inline-block;
}

#copyright{
    font-size: 10px;
    text-align: center;
    }
    
#redes li a{ 
    display: inline-block;
    background: url(../imagenes/sprite.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    font-size: 0;
}

    #redes #instagram a{ background-position: 0px 0px; }
    #redes #twitter a{ background-position: -48px 0px; }
    #redes #youtube a{ background-position: -96px 0px; }


@media screen and (max-width: 800px) {
    .principal {
    width: 481px;
    }
    
    nav {
    font-size: 25px;
    margin: auto;
    width: 480px; 
    text-align: center; 
    line-height: 1.5;
    }
        
    nav li {
    padding: 10px;
    }

    h1{font-size: 30px;
    line-height: 35px;
    margin-left: 15px;
    margin-right: 10px;
    }
        
    
    form {
    width: 450px;
    text-align: left;
    }

    form span{
    padding-left: 45px;
    padding-top: 15px;}
    
    input, select {
    width: 350px;
    }
    
    #laritafoto, iframe {
    margin-left: 15px;
    border: 0;
    width: 450px;
    margin-top: 15px;
    }
    
    #laritafoto img {
    display: none;
    }
    }
    
    
    @media screen and (max-width: 480px) {

    .principal {
    width: 320px;
    }

    nav {
    font-size: 17px;
    width: 300px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    }
        
    nav li {
    padding: 5px;
    }

    #entrada p:nth-of-type(2) {
        font-size: 10px;
    }

    form {
    width: 300px;
    padding: 0;
    }

    form span{
    margin-top: 10px;
    margin-left: 15px;
    padding: 0;
    }
    
    input, select {
    width: 250px;
    margin-left: 15px;
    }
    
    #laritafoto, iframe {
    width: 300px;


    }}